.top-conatiner {
  padding-top: 200px;
  margin: 0;
  background-color: #e0ebe8;
}
h1{
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 5.62rem;
  color: #66bfbf;
 
}
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 1.50rem
}
.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 200px;
  top: 100px;
}
h2{
    font-weight: normal;
    margin: 0;
    font-family: "Sacramento", cursive;
    font-size: 3.5rem;
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
.skills{
  padding: 2%;
}
.skill-row1{
    width: 50%;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}
.skill-row2{
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: right;
  line-height: 2;
  margin-left: 50%;
}
.skill-image1{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 50px;
}
.text1{
  margin-left: 230px;
}
.text2{
  margin-right: 230px;
}
.skill-image2{
  height: 25%;
  width: 25%;
  float: right;
  
}
.maintxt{
  width: 50%;
  margin: auto;
  color: #40514E;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.2;

}
hr{
  border-style: dotted;
  width: 5%;
  border-top: 0;
  border-width: 10px;
  margin-top:50px ;
  color: gray;
}
.contact-me{
  width: 50%;
  margin: auto;
  padding: 5%;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:"Merriweather", serif;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.button{
  margin-top: 50px;
  margin-bottom: none;
}
.bottom-container{
  background-color: #66bfbf;
  margin-bottom: none;
  padding: 30px;
  font-family:"Merriweather", serif;
}
.footer-link{
  margin:10px 20px 0 20px;
  color: #11999E;
  text-decoration: none;
}
.end{
  color: #eaf6f6;
  font-size: 0.77rem;
  padding-top: 20px;
}
a:hover{
  color: #e0ebe8;
}